body {
  font-family: "Open Sans", sans-serif;
}

.btc-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.nombreCripto {
  text-transform: capitalize;
}

.nav-text {
  color: #e09c48;
}

.cripto-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 5px;
}

.botones-cripto {
  display: flex;
  justify-content: center;
}

.buscarPrecio {
  margin: 0px 10px;
}

.btn-bitcoin,
.btn-pesos {
  margin-top: 2px;
  margin-bottom: 1px;
}

.btn-bitcoin {
  margin-right: 4px;
}
