/* De manera global ponemos esta fuente */
body {
  font-family: "Open Sans", sans-serif;
}

/* El logo de la app que se encuentra en el Nav Bar */
.btc-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 3px;
}

/* Vamos a capitalizar el título que enviamos desde index.js */
.tituloCriptoDelPanel {
  text-transform: capitalize;
}

/* El color de fuente de 'CRIPTO API' */
.nav-text {
  color: #e09c48;
}

/* Ponemos cierto tamaño y posición del logo */
.cripto-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 5px;
}

/* Queremos que los botones estén siempre centrados */
.contenedor-botones-cripto {
  display: flex;
  justify-content: center;
}

/* Esta clase se usa en el index.js para seleccionar todos los botones */
/* Le damos un margen horizontal para acomodar el texto interior */
.buscarPrecio {
  margin: 0px 10px;
}
